<template>
  <div class="icon">
    <div :class="type" :style="`background:${color}`">
      <i :class="icon"></i>
    </div>
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: "icon",
  props: {
    icon: {
      type: String,
      default: "el-icon-folder-opened",
    },
    type: {
      type: String,
      default: "rect",
    },
    color: {
      type: String,
      default: "#27b386",
    },
  },
};
</script>
<style lang="less" scoped>
.icon {
  text-align: center;
  display: inline-block;
  color: #3b77c1;
  font-size: 12px;
  .rect {
    width: 50px;
    height: 50px;
    font-size: 35px;
    color: #fff;
    line-height: 50px;
    margin: auto;
  }
  .circle {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    margin: auto;
  }
}
</style>