<template>

    <svg :style="`width: ${endX}px;`">
      <line
        :x1="startX"
        :y1="startY"
        :x2="endX"
        :y2="endY"
        stroke="black"
        stroke-width="2"
      />
    </svg>

</template>
<script>
export default {
  name: "LineCanvas",
  props: {
    startX: {
      type: Number,
      default: 0,
    },
    startY: {
      type: Number,
      default: 0,
    },
    endX: {
      type: Number,
      default: 50,
    },
    endY: {
      type: Number,
      default: 0,
    },
  },
};
</script>
<style scoped lang="less">
svg {
  position: relative;
  bottom: 30px;
  height: 2px;
  z-index: 999;
}
</style>