<template>
  <div id="app">
    <el-container style="height: 100%">
      <el-header>
        <i class="el-icon-refresh"></i>
        <span style="margin-right: 20px">数据分析流程编排系统</span>
        <span>联通数据分析</span>
      </el-header>
      <el-container>
        <el-aside width="300px">
          <el-menu
            default-active="2"
            class="el-menu-vertical-demo"
            @open="handleOpen"
            @close="handleClose"
          >
            <el-submenu index="1">
              <template slot="title">
                <i class="el-icon-circle-plus-outline"></i>
                <i class="el-icon-document"></i>
                <span>原始数据接引(备份)</span>
              </template>
                <el-menu-item index="1-1">
                  <span>数据集市</span>
                </el-menu-item>
                <el-menu-item index="1-2">
                  <span>数据集市</span>
                </el-menu-item>
                <el-menu-item index="1-3">
                  <span>数据集市</span>
                </el-menu-item>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-main>
          <div class="top">
            <el-button type="primary" icon="el-icon-refresh"
              >刷新状态</el-button
            >
            <el-button type="primary" icon="el-icon-video-play"
              >运行数据</el-button
            >
            <el-button type="primary"
              >增加数据
              <i class="el-icon-caret-bottom"></i>
            </el-button>
          </div>
          <div class="center">
            <div style="display: inline-block; position: relative; top: 80px">
              <Icon>客户信息</Icon>
              <line-canvas></line-canvas>
              <Icon icon="el-icon-s-open" type="circle" color="#21a0fe"
                >过滤</Icon
              >
              <line-canvas></line-canvas>
              <Icon>有效用户</Icon>
              <line-canvas
                style="transform: rotate(45deg); transform-origin: center left"
              ></line-canvas>
              <line-canvas
                style="
                  transform: rotate(-45deg);
                  transform-origin: center left;
                  margin-left: -50px;
                "
              ></line-canvas>
            </div>

            <div
              style="
                display: inline-block;
                position: relative;
                top: 40px;
                left: -14px;
              "
            >
              <Icon
                icon="el-icon-document-remove"
                type="circle"
                color="#949494"
                style="margin-left: -10px"
                >获取套餐列</Icon
              >
              <line-canvas></line-canvas>
              <Icon>套餐列表</Icon>
              <line-canvas></line-canvas>
              <Icon icon="el-icon-document-remove" type="circle" color="#21a0fe"
                >排序</Icon
              >
              <line-canvas></line-canvas>
              <Icon>热门套餐</Icon>
            </div>
            <div
              style="
                display: inline-block;
                position: relative;
                top: 50px;
                left: 280px;
              "
            >
              <Icon
                icon="el-icon-document-remove"
                type="circle"
                color="#949494"
                style="margin-left: -10px"
                >获取数据集</Icon
              >
              <line-canvas style="margin-left: -10px"></line-canvas>
              <Icon style="margin-left: -5px">决策树数据</Icon>

              <line-canvas style="margin-left: -5px"></line-canvas>
              <Icon
                icon="el-icon-document-remove"
                type="circle"
                color="#949494"
                style="margin-left: -10px"
                >拆分数据集</Icon
              >

              <line-canvas style="margin-left: -10px"></line-canvas>
              <Icon style="margin-left: -5px">模型训练集</Icon>
            </div>
          </div>
          <div class="bottom">
            <el-button type="primary">参数配置</el-button>
            <el-button type="primary">输出参数配置</el-button>
            <el-button type="primary">结果面板</el-button>
          </div>
        </el-main>
        <el-aside width="200px" style="margin: 10px 0 0 10px">
          <div style="display: flex; justify-content: space-evenly;margin-top:50px">
            <Icon icon="el-icon-s-open" type="circle" color="#21a0fe"
              >查看</Icon
            >
            <Icon icon="el-icon-s-open" type="circle" color="#21a0fe"
              >分析</Icon
            >
            <Icon icon="el-icon-s-open" type="circle" color="#21a0fe"
              >删除</Icon
            >
          </div>
          <div>
            <el-collapse v-model="activeNames" @change="handleChange">
              <el-collapse-item name="1">
                <template slot="title">
                  <i
                    class="el-icon-minus"
                    style="
                      transform: rotate(90deg);
                      font-weight: bolder;
                      margin-right: 5px;
                    "
                  ></i>
                  操作
                </template>
                <div
                  class="block"
                  v-for="(item, index) in operation"
                  :key="index"
                  style="display: inline-block; width: 33%; text-align: center"
                >
                  <Icon icon="el-icon-s-open" type="circle" color="#21a0fe">{{
                    item.name
                  }}</Icon>
                </div>
              </el-collapse-item>
              <el-collapse-item name="2">
                <template slot="title">
                  <i
                    class="el-icon-minus"
                    style="
                      transform: rotate(90deg);
                      font-weight: bolder;
                      margin-right: 5px;
                    "
                  ></i>
                  数据集
                </template>
                <div
                  class="block"
                  v-for="(item, index) in serve"
                  :key="index"
                  style="display: inline-block; width: 33%; text-align: center"
                >
                  <Icon
                    icon="el-icon-document-remove"
                    type="circle"
                    color="#27b386"
                    >{{ item.name }}</Icon
                  >
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
        </el-aside>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import LineCanvas from "./components/LineCanvas.vue";
import Icon from "./components/icon.vue";
export default {
  name: "App",
  components: { LineCanvas, Icon },
  data() {
    return {
      operation: [
        { name: "过滤" },
        { name: "关联" },
        { name: "聚合" },
        { name: "去重" },
      ],
      serve: [{ name: "Python" }, { name: "SQL" }],
      activeNames: ["1"],
    };
  },
  methods: {
    handleChange(val) {
      console.log(val);
    },
  },
};
</script>


<style lang="less" scoped>
.el-header {
  color: #382626;
  line-height: 60px;
  background: #409eff;
  span {
    font-size: 18px;
    color: #ffffff;
  }
}

.el-main {
  color: #333;
  margin: 10px 0 0 0;
  box-shadow: 0 0 10px gray;
  padding: 10px 0 0 0;
  .top {
    text-align: right;
    margin: 0 10px 20px 0;
  }
  .center {
    padding: 10px;
    border-top: 1px solid #d4e0e6;
  }
  .bottom {
    padding-left: 10px;
    position: absolute;
    bottom: 40px;
  }
  // .el-button--primary {
  //   color: #fff;
  //   background-color: #0aa679;
  //   border-color: #0aa679;
  //   &:hover {
  //     background-color: #59b299;
  //     border-color: #59b299;
  //   }
  // }
}

::v-deep .el-container {
  .el-aside {
    box-shadow: 0 0 5px gray;
    color: #333;
    text-align: left;
    margin: 10px 10px 0 0;
    .el-collapse-item__header {
      padding-left: 10px;
      border-bottom: 1px solid #f4f8fa;
      &.is-active {
        color: #0aa679;
      }
    }
  }
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
</style>
